[Desktop Entry]
Name=System Profiler and Benchmark
Name[pt_BR]=Informações e Testes do Sistema
Exec=hardinfo
Icon=/usr/share/hardinfo/pixmaps/logo.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;