[Unit]
Description=Hardinfo2 support for root access
After=basic.target

[Service]
Type=oneshot
ExecStart=/usr/bin/hwinfo2_fetch_sysdata

[Install]
WantedBy=basic.target